#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.welcome-text {
 position: fixed;
 top: 0;
 width: 100%;
 padding: 10px;
}
.sign-up-text {
  margin-top: 50px;

}

.card {
  padding: 2em;
}

.welcome-text h1 {
  font-size: 90px;
  font-weight: 700;
}
