.goals-title {
    position: relative;
    display: grid;
    color: black;
    font-size: 70px;
}

.current-text {
    position: relative;
    color: black
}

.start-weight-section {
    position: relative;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.end-goal-section {
    position: relative;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.current-weight-section {
    position: relative;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.goal-meal-buttons {
    position: relative;
    bottom: -2.5rem;
}

.goal-meal-btn {
    margin-right: 1rem;
}

.reconmend-title {
    position: relative;
    bottom: -3rem;
    font-size: 40px;
    color: black;
}

.reconmend-section {
    position: relative;
    bottom: -5rem;
    font-weight: bold;
    font-size: 25px;
    color: black;
}