.page-content {
    min-height:100vh;
    position: relative;
    z-index: 1;
}
  
.login-page {
    position: relative; 
    z-index: 1; 
}

.login-title {
    position: relative;
    top: 65px;
    display: grid;
    color: black;
    font-size: 70px;
}

.login-text {
    position: relative;
    top: -25px;
    display: grid;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.login-container {
    position: relative;
    display: grid;
    place-items: center;
    z-index: 1;
}

.form-group {
    display: block;
    padding-bottom: 1rem;
}

.form-group label,
.form-group label {
    display: block;
    font-weight: bold;
    color: black;
    margin-block-start: 0%
}

.form-group input[type="login-email"],
.form-group input[type="login-password"] {
    position: relative;
    top: -30px;
    width: 250px;
    padding: 10px;
    background-color: aliceblue;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.submit-btn {
    background-color:black;
    color:aliceblue;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    transition: background-color 0.8s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.sign-up-text {
    font-weight: bold;
    font-size: 18px;
    color:black;
}

.sign-up-container {
    margin-bottom: 10px;
}

.signup-link {
    background-color:black;
    color:aliceblue;
    cursor: pointer;
    transition: background-color 0.8s ease;
}

.signup-link:hover {
    background-color: #0056b3;
}