html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;   
  overflow-y: auto;   
}

.vegan-btn {
    padding: 1.5rem;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.vegetarian-btn {
    padding: 1.5rem;
    border: none;
    cursor: pointer;
}

.clicked {
    background-color: forestgreen;
    color: white;
}

.list-title {
    position: relative;
    bottom: -30px;
    right: 45px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.allergy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allergy-box {
    position: relative;
    bottom: -20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
}

.add-btn{
    position: relative;
    bottom: -20px;
    padding: 8px 12px;
    background-color: green;
}

.delete-btn {
    padding: 3px 3px;
    border-radius: none;
    background: transparent;
    cursor: pointer;
    font-Weight: bold;
    color: red;
}

.pref-nav-container {
    position: relative;
    bottom: -500px
}

.meals-btn {
    margin-left: 2rem;
}